<!-- Extenção do arquivo 'base.html' que está na pasta contatos/templates/contatos/ ----->
{% extends 'base.html' %}

{% load widget_tweaks static %}

<!-- Bloco que define o <title>,/title> da nossa página --------------------------------->
{% block titulo %}Esqueci Senha | {% endblock %}

<!-- Bloco de conteúdo da extenção da pasta template/base.html -------------------------->
{% block conteudo %}
    <!-- Container -->
    <div class="container mt-5">
        {% include 'parciais/_messages.html' %}
        <div class="content-wrapper">
            <div class="content d-flex justify-content-center align-items-center">
                <div class="card">
                    <div class="text-center mb-3">
                        <br>
                        <img src="{% static "img/titulo.png" %}"
                             style="width:250px; margin-right: auto; mix-blend-mode: multiply"
                             alt="Minha Agenda">
                    </div>
                    <div class="card-body">
                        <hr class="margin: 30px 0">
                        <h5 class="card-title content d-flex justify-content-center align-items-center">
                            Recuperar Senha
                        </h5>
                        <hr class="margin: 30px 0">
                        <p class="card-text">
                            Olá usuário(a) Minha Agenda,
                            <br>
                            Enviamos um e-mail com instruções para definir a sua senha, se existir uma conta com
                            o
                            e-mail que digitou.
                            Deve recebê-los em breve.
                        </p>
                        <p>
                            Sua senha foi definida. Pode ir em frente e <a href="{% url 'accounts:login' %}">Fazer
                            login</a> agora.
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
{% endblock %}
