<!-- Extenção do arquivo 'base.html' que está na pasta contatos/templates/contatos/ ----->
{% extends 'base.html' %}

{% load widget_tweaks static i18n %}

<!-- Bloco que define o <title>,/title> da nossa página --------------------------------->
{% block titulo %}Esqueci Senha | {% endblock %}

<!-- Bloco de conteúdo da extenção da pasta template/base.html -------------------------->
{% block conteudo %}
    <!-- Container -->
    <div class="container mt-5">
        {% include 'parciais/_messages.html' %}
        <div class="content-wrapper">
            <div class="content d-flex justify-content-center align-items-center">
                <div class="card">
                    {% include 'parciais/_messages.html' %}
                    <br>
                    <div class="text-center mb-3">
                        <img src="{% static "img/titulo.png" %}"
                             style="width:250px; margin-right: auto; mix-blend-mode: multiply"
                             alt="Minha Agenda">
                    </div>
                    <br>
                    <div class="card-body">
                        <hr class="margin: 30px 0">
                        <h5 class="card-title content d-flex justify-content-center align-items-center">
                            RECUPERE SUA SENHA
                        </h5>
                        <hr class="margin: 30px 0">
                        <p class="card-text">
                            Olá usuário(a) Minha Agenda,
                            <br>
                            Por favor, insira o seu e-mail de usuário abaixo para recuperar
                            a sua conta de <code>Acesso</code>.
                            <br>
                            <br>
                        </p>
                        <hr class="margin: 30px 0">
                        <h5 class="mt-3 mb-3">Meu e-mail de usuário</h5>
                        <hr class="margin: 30px 0">

                        <form action="{% url 'accounts:password_reset' %}" method="post">
                            <!-- Não se esqueça dessa tag -->
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-block btn-primary">Enviar</button>
                            <button type="reset" class="btn btn-block btn-secondary">Limpar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
{% endblock %}
