<!-- Extenção do arquivo 'base.html' que está na pasta contatos/templates/contatos/ ----->
{% extends 'base.html' %}

{% load widget_tweaks static %}

<!-- Bloco que define o <title>,/title> da nossa página --------------------------------->
{% block titulo %}Fazendo Login | {% endblock %}

<!-- Bloco de conteúdo da extenção da pasta template/base.html -------------------------->
{% block conteudo %}
    <!-- Container -->
    <div class="container mt-5">
        <div class="content-wrapper ">
            <div class="content d-flex justify-content-center align-items-center">
                <div class="card">
                    <div class="text-center mb-3 ">
                        <br>
                        <img src="{% static "img/titulo.png" %}"
                             style="width:250px; margin-right: auto"
                             alt="Minha Agenda">
                    </div>
                    <div class="card-body">
                        <hr class="margin: 30px 0">
                        <h5 class="card-title content d-flex justify-content-center align-items-center">
                            FAZENDO LOGIN
                        </h5>
                        <hr class="margin: 30px 0">
                        <p class="card-text">
                            Olá usuário(a) da Minha Agenda.</p>
                        <p>Por favor, insira a suas credenciais para acessar
                            a sua conta de <code>Usuário</code>.</p>
                        <p>
                            Seu primeiro acesso?
                            <a href="{% url 'accounts:register' %}">CLIQUE AQUI</a>
                        </p>

                        <hr class="margin: 30px 0">

                        <h5 class="mt-3 mb-3 content d-flex justify-content-center align-items-center">
                            MINHAS CREDENCIAIS
                        </h5>

                        {% if not user.is_authenticated %}
                            <form method="POST" action="{% url 'accounts:login' %}">
                                <!-- Não se esqueça dessa tag -->
                                {% csrf_token %}

                                <!-- Nome do usuario -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Usuário</span>
                                    </div>
                                    <input type="text" name="usuario" value="{{ request.POST.usuario }}"
                                           class="form-control"
                                           placeholder="Insira seu nome de usuário">
                                </div>

                                <!-- Senha do usuario -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Senha</span>
                                    </div>
                                    <input type="password" name="senha" class="form-control"
                                           placeholder="Insira sua senha">
                                </div>

                                <div class="col-md-offset-6 text-center mt-3">
                                    <button type="submit" class="btn btn-block btn-primary"
                                            style="font-size: 15px; height: 60px; margin-bottom: 5px">
                                        ENTRAR
                                    </button>
                                    <a href="{% url 'accounts:password_reset' %}">Esqueci minha senha</a>
                                </div>
                            </form>
                        {% else %}
                            <P>
                                Você fez login com "{{ user }}",
                                <a href="{% url 'accounts:logout' %}">CLIQUE AQUI</a> para sair.
                            </P>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
{% endblock %}


