<!-- Extenção do arquivo 'base.html' que está na pasta contatos/templates/contatos/ ----->
{% extends "base.html" %}

{% load widget_tweaks static %}

<!-- Bloco que define o <title>,/title> da nossa página --------------------------------->
{% block titulo %}Cadastro de Contato | {% endblock %}

<!-- Bloco de conteúdo da extenção da pasta template/base.html -------------------------->
{% block conteudo %}
    <!-- Container -->
    <div class="container mt-5">
        {% include 'parciais/_messages.html' %}
        <div class="content-wrapper">
            <div class="content d-flex justify-content-center align-items-center">
                <div class="card">
                    <div class="text-center mb-3 ">
                        <br>
                        <img src="{% static "img/titulo.png" %}"
                             style="width:250px; margin-right: auto"
                             alt="Minha Agenda">
                    </div>
                    <br>
                    <div class="card-body">
                        <hr class="margin: 30px 0">
                        <h5 class="card-title content d-flex justify-content-center align-items-center">
                            Cadastro de Contato
                        </h5>
                        <hr class="margin: 30px 0">
                        <p class="card-text">
                            Olá usuáro(a) "{{ user }}".
                            Complete o formulário abaixo para cadastrar
                            o seu novo <code>Contato</code>.
                        </p>
                        <form action="{% url 'accounts:register_contact' %}" method="post">
                            {% include 'parciais/_messages.html' %}
                            <!-- Não se esqueça dessa tag -->
                            {% csrf_token %}

                            <!-- Nome do contato -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nome</span>
                                </div>
                                {% render_field form.nome class+="form-control" placeholder="Informe seu nome" %}
                            </div>

                            <!-- Sobrenome do contato -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Sobrenome</span>
                                </div>
                                {% render_field form.sobrenome class+="form-control" type='name' placeholder="Informe seu sobrenome" %}
                            </div>

                            <!-- Telefone do contato -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Telefone</span>
                                </div>
                                {% render_field form.telefone class+="form-control" type='tel' placeholder="(XX)XXXXX-XXXX" %}
                            </div>

                            <!-- E-mail do contato -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">E-mail</span>
                                </div>
                                {% render_field form.email class+="form-control" type='email' placeholder="Informe seu e-mail" %}
                            </div>

                            <!-- Data de criação do contato -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Data de Criação</span>
                                </div>
                                {% render_field form.data_criacao class+="form-control" %}
                            </div>
                            <!-- Categoria do contato -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Categoria</span>
                                </div>
                                {% render_field form.categoria class+="form-control" %}
                            </div>
                            <!-- Descrição do contato -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nota</span><br>
                                </div>
                                {% render_field form.descricao class+="form-control" placeholder="Anotações" %}
                            </div>
                            <!-- Confirmar o cadastro do contato -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Confirmar novo cadastro
                                    </span>
                                    <br>
                                </div>
                                {% render_field form.mostrar class+="form-control" %}
                            </div>
                            <hr>
                            <div class="text-right">
                                <a href="{% url 'contatos:index' %}"
                                   class="btn btn-block btn-outline-primary">Voltar</a>
                                <button type="submit" class="btn btn-block btn-primary">Salvar</button>
                                <button type="reset" class="btn btn-block btn-secondary">Limpar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}
