<!-- Inicializando os Bootstrap core JavaScript que estão na tag 'link' abaixo -->
{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Projeto criado seguindo as orientações do professor 'Luiz Otávio
Miranda' do seu curso Python do básica ao avançado. Esse curso se encontra no site da Udemy">
<meta name="author" content="Adriano Santos">

<!-- Bootstrap core CSS que esta na pasta template/static/vendor/... -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

