<!-- Inicializando os Bootstrap core JavaScript que estão na tag 'link' abaixo -->
{% load static %}

<!-- Define a codificação de caracteres para a página -->
<meta charset="utf-8">
<!-- Define a janela de visualização para que o site fique bem em todos os dispositivos-->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Define palavras chave para os sites de busca -->
<meta name="keywords" content="Agenda, Agenda Pessoal, Agenda de Contatos, Agenda Online">
<!-- Define a última revisão da página -->
<meta name="revised" content="Adriano Santos, 13/04/2022">
<!-- Recarrega a página a cada 5 minutos (refresh) -->
<meta http-equiv="refresh" content="300">
{#<!--A cada atualização (refresh) a página URL seguinte é recarregada -->#}
{#<meta http-equiv="refresh" content="300"#}
{#      url="agenda-contacts.herokuapp.com/accounts/register/"#}
{#      url="agenda-contacts.herokuapp.com/accounts/register_contact/"#}
{#      url="agenda-contacts.herokuapp.com/listar_contato">#}
<!-- Define a descrição da página -->
<meta name="description" content="Projeto criado seguindo as orientações do professor 'Luiz Otávio
Miranda' do seu curso Python do básica ao avançado. Esse curso se encontra no site da Udemy">
<!-- Define o autor da página -->
<meta name="author" content="Adriano Santos">

<!-- Bootstrap core CSS que esta na pasta template/static/vendor/... -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

