<!-- Extenção do arquivo 'base.html' que está na pasta contatos/templates/contatos/ ----->
{% extends 'base.html' %}

{% load static %}

<!-- Bloco que define o <title>,/title> da nossa página --------------------------------->
{% block titulo %}Página Inicial | {% endblock %}

<!-- Bloco de conteúdo da extenção da pasta template/base.html -------------------------->
{% block conteudo %}
    <!-- Container -->
    <div class="text-center mb-3">
        <img src="{% static "img/titulo.png" %}"
             style="width:250px; margin-right: auto; mix-blend-mode: multiply"
             alt="Minha Agenda">
    </div>
    <br>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title content d-flex justify-content-center align-items-center">
                            Adicionar Contato
                        </h5>
                        <br>
                        <p class="card-text">
                            Cadastre aqui um novo <code>Contato</code>.
                        </p>
                        <a href="{% url 'accounts:register_contact' %}"
                           class="btn btn-block btn-primary">
                            Novo Contato
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title content d-flex justify-content-center align-items-center">
                            Lista de Contatos
                        </h5>
                        <br>
                        <p class="card-text">
                            Veja aqui uma lista de <code>Contatos</code>.
                        </p>
                        <a href="{% url 'contatos:listar_contato' %}"
                           class="btn btn-block btn-primary">
                            Vá para Lista
                        </a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <br>

{% endblock %}
